# Name of PostgreSQL RDS DB to provision
db_name = "time_tracker"

# Name of PostgreSQL RDS DB user to provision
db_user = "david"

# Name of PostgreSQL RDS DB user password to provision
db_password = "password"

# Name of PostgreSQL RDS DB port to provision
db_port = 5432

# Name of PostgreSQL RDS DB AWS instance to provision
db_instance_class = "db.t4g.micro"

# AWS Region
aws_region = "us-west-2"

# Can be retrieved with curl -4 ifconfig.me
my_ip = "xxx.xxx.xxx.xxx/32"

# Find on AWS VPC
public_subnet = "subnet-0123456789abcdef0"

# CIDR of the AWS VPC
vpc_cidr = "172.31.0.0/16"